services:
  traefik:
    image: traefik
    container_name: traefik
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./acme.json:/etc/traefik/acme.json

  mysql:
    image: mariadb:11.6.2
    container_name: mysql
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - dac_override
      - setuid
      - setgid
    environment:
      - MYSQL_DATABASE=aaaaa
      - MYSQL_USER=piler
      - MYSQL_PASSWORD=piler123
      - MYSQL_ROOT_PASSWORD=abcde123
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - piler_db:/var/lib/mysql

  manticore:
    image: manticoresearch/manticore:6.3.8
    container_name: manticore
    restart: unless-stopped
    volumes:
      - ./manticore.conf:/etc/manticoresearch/manticore.conf
      - piler_manticore:/var/lib/manticore

  tika:
    image: apache/tika:3.0.0.0
    container_name: tika
    restart: unless-stopped
    cap_drop:
      - ALL
    deploy:
      resources:
        reservations:
          memory: 512M
        limits:
          memory: 1024M

  memcached:
    image: memcached:latest
    container_name: memcached
    restart: unless-stopped
    cap_drop:
      - ALL
    command: -m 64

  piler:
    image: sutoj/piler-ee:1.8.4
    container_name: piler
    init: true
    environment:
      - MYSQL_HOSTNAME=mysql
      - MYSQL_DATABASE=piler
      - MYSQL_USER=piler
      - MYSQL_PASSWORD=piler123
      - MYSQL_ROOT_PASSWORD=abcde123
      - TIKA_HOSTNAME=tika
      - PILER_HOSTNAME=archive.yourdomain.com
      - MULTITENANCY=0
      - MULTINODES=0
      - ENCRYPTED_SQL=0
      - DYNAMIC_INDEX=1
      - RT=1
      - MANTICORE_HOST=manticore
      - MEMCACHED_HOSTNAME=memcached
      - NODE_TYPE=WORKER
    ports:
      - "25:25"
    volumes:
      - piler_etc:/etc/piler
      - piler_store:/var/piler/store
      - piler_astore:/var/piler/astore
      - ./piler.lic:/etc/piler/piler.lic:ro
    healthcheck:
      test: curl -s smtp://localhost/
      interval: "60s"
      timeout: "3s"
      start_period: "15s"
      retries: 3
    deploy:
      resources:
        reservations:
          memory: 1024M
        limits:
          memory: 1024M

    depends_on:
      - "memcached"
      - "mysql"
      - "tika"

volumes:
  piler_db: {}
  piler_etc: {}
  piler_manticore: {}
  piler_store: {}
  piler_astore: {}
